@charset "UTF-8";

body {
	background-color: #b3ffff;
	text-align: center;
	color: #0d0d0d;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 160%;
	padding: 30px 0 0;
	margin: 0px;
}
        
.navbar {
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.065);
	overflow: hidden;
	background-color: #e6ffff;
	position: fixed;
	margin: 8px 18px 8px 18px;
	width: calc(100% - 36px);
	top: 0;
	white-space: nowrap;
	padding: 0;
}
        
.navbar a {
	font-family: 'Trebuchet MS', sans-serif;
	float: left;
	display: block;
	color: #0d0d0d;
	font-weight: bold;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}
        
.navbar a:hover {
	background: #e6e6e6;
	color: black;
}
    
.midtext {
	color: #0d0d0d;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 160%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.comments { 
	overflow-y: scroll;
	height: 500px;
}

.index-pet-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.4fr 0.4fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". index-header index-header index-header index-header ."
    ". . index-rating index-rating . ."
    ". index-pet-area index-pet-area index-pet-area index-pet-area ."
    ". index-pet-area index-pet-area index-pet-area index-pet-area .";
}
.index-header { grid-area: index-header; }
.index-rating { grid-area: index-rating; }
.index-pet-area { grid-area: index-pet-area; }

.pet-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". rating-area heading heading . ."
    "pet-area pet-area pet-area comment-area comment-area comment-area"
    "pet-area pet-area pet-area comment-area comment-area comment-area"
    "pet-area pet-area pet-area comment-area comment-area comment-area";
}
.pet-area { grid-area: pet-area; }
.comment-area { grid-area: comment-area; }
.rating-area { grid-area: rating-area; }
.heading { grid-area: heading; }

.search-grid-container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.25fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "search-header search-header"
    "search-results search-results"; 
}
.search-header { grid-area: search-header; }
.search-results { grid-area: search-results; }


.pet-img {
  border-radius: 8px;
  width: 300px;
}

.star_rating {
	float: left;
    height: 46px;
    padding: 0 0px;
}
.star_rating:not(:checked) > input {
    position: absolute;
    top: -100px;
}
.star_rating:not(:checked) > label {
    float: right;
	width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 62px;
    color: #ccc;
}

.star_rating:not(:checked) > label:before { content: '★ '; }
.star_rating > input:checked ~ label { color: #ffff1a; }

.star_rating:not(:checked) > label:hover,
.star_rating:not(:checked) > label:hover ~ label { color: #cccc00; }

.star_rating > input:checked + label:hover,
.star_rating > input:checked + label:hover ~ label,
.star_rating > input:checked ~ label:hover,
.star_rating > input:checked ~ label:hover ~ label,
.star_rating > label:hover ~ input:checked ~ label { color: #b3b300; }

