@charset "UTF-8";

body {
	background-color: #b3ffff;
	text-align: center;
	color: white;
	font-family: courier;
	font-size: 160%;
	padding: 30px 0 0;
}
        
.navbar {
	overflow: hidden;
	background-color: #80ffff;
	position: fixed;
	top: 0;
	width: 100%;
}
        
.navbar a {
	font-family: courier;
	float: left;
	display: block;
	color: #0d0d0d;
	font-weight: bold;
	text-align: center;
	padding: 14px 10px;
	text-decoration: none;
}
        
.navbar a:hover {
	background: #4dffff;
	color: black;
}
    
.midtext {
	color: #0d0d0d;
	font-family: courier;
	font-size: 160%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}