<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles.css') }}">
	</head>
	
	<body>
		<section>
			<nav class="navbar">
				<a href="{{ url_for('root') }}" class="navbar-item"> Home </a>
				<a href="{{ url_for('search') }}" class="navbar-item"> Search </a>
				
				{% if user == '' %}
					<a href="{{ url_for('auth.register') }}" class="navbar-item" style="float:right;"> Register </a>
					<a href="{{ url_for('auth.login') }}" class="navbar-item" style="float:right;"> Login </a>	
				{% else %}
					<a href="{{ url_for('user_page', username=user.username) }}" class="navbar-item" style="float:right;"> {{ user.username }} </a>
					<a href="{{ url_for('auth.logout') }}" class="navbar-item" style="float:right;"> Logout </a>					
				{% endif %}

			</nav>
		</section>
		
		<section>
			<div class = "main">
				{% block content %}
				{% endblock %}
			</div>
		<section>
	</body>
	
</html>