{% extends "base.html" %}

{% block content %}
	
	<div class="search-grid-container">
		<div class="search-header"> 
			<h2 style="font-size: 45pt"> Search </h2>
			
			<form action="/search" method="POST">
				<input type="text" id="search" name="search" placeholder="Search..."
				style="font-size: 18pt; height: 40px; width: 500px">	
				<input type="submit" value="Search" style="font-size: 18pt; height: 40px; width: 200px"> 
			</form>
		</div>
		
		<div class="search-results">
			<br><br>
			{% for pet in pets %}
				<a href="{{ url_for('pet_page', pet_id=pet.id) }}"><img class="pet-img" style="width: 180px"src="{{ pet.img_url}}" alt="{{ pet.name }}"></a>
			{% endfor %}
		</div>
	<div>
	

{% endblock %}